<template name="main">
    <div class="col-xs-12">
        <select class="pull-left" name="day" id="day">
            {{#each date}}
                <option value="{{day}}">{{day}}</option>
            {{/each}}
        </select>
        <select class="pull-right" name="shop" id="shop">
            {{#each shop}}
                <option value="{{id}}">{{title}}</option>
            {{/each}}
        </select>
        <select class="pull-right" name="quest_srvyr" id="quest_srvyr">
            {{#each quest_srvyr}}
                <option value="{{srvyr}}">{{srvyr}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-xs-12" class="k1-header-row" style="background:rgb(218, 39, 60);border-bottom:1px solid #333;">
        <div class="k1-header-col" style="display: inline-block;border-right:1px solid #CCC;height:70px;width:70px;">&nbsp;</div>
        {{getHeaderQuestions question}}
        {{#each question}}
            <div class="col-xs-12"  style="border-bottom:1px solid #666">
                <div style="display: inline-block;border-right:1px solid #CCC;border-bottom:1px solid #CCC;height:70px;width:70px;">
                    {{getDateFormat vstart}}
                </div>
                {{getQaQuestions question}}
            </div>
        {{/each}}
    </div>
</template>