body {
  background-color: #eee;
}

.well {
    background: #FAFAFA;
}

.messages {
    height: 399px;
    border: 1px solid #666;
    overflow-y: scroll;
}

.table-header-red {
    background: #fc3765;
    color: #fff;
}

.rating-circle-red {
    background: #FF4136;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.rating-circle-yellow {
    background: #FFC000;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.rating-circle-blue {
    background: #39CCCC;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.question-page.question-page__question{
    display: inline-block;
    padding: 7px;
    border: 1px solid #BEBEBE;
    cursor: pointer;
    width: 40px;
}
.txt-center{
    text-align: center;   
}

.question-page.question-page__question:hover {
    background-color: #404040;
    color: #FFF;
}

.js-link-questionnaire {
    cursor: pointer;
}

