<head>
	<title>Интервью с Meteor.js</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/signin.css">
</head>
<template name="layout">
	<body>
		{{#if currentUser}}
			{{> nav}}
			<div class="container">
				{{yield}}
			</div>
		{{else}}
			{{#if loggingIn}}
				{{> loading}}
			{{else}}
				{{> notLoggedIn}}
			{{/if}}
		{{/if}}
	</body>
</template>