<template name="brigadir">
	<div class='row'>
		<div class='col-xs-12'>
			<a href='/registerStartJob' class='btn btn-lg btn-default btn-block'>Регистрация начала работы</a>
			<a href='/control_result' class='btn btn-lg btn-success btn-block'>Контроль интервью</a>
			<a href='/control_result_global' class='btn btn-lg btn-info btn-block'>Результаты контроля центральным офисом</a>
			<a href='/chatController' class='btn btn-lg btn-primary btn-block'>Чат с отделом контроля</a>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col-xs-12'>
			<div class='well'>
				<h4>Пятёрка лучших команд</h4>
			</div>
		</div>
	</div>
</template>