<template name="questionnaire">
    {{#if currentUser}}
        {{#if $eq myUser.profile.type 'controller'}}
            <br>
            <div class='panel panel-info'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>
                        {{srvyr.srvyr}}
                        <span class='pull-right label label-default'>
                            {{shop.title}} | {{srvyr.day}}
                        </span>
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 question-page">
                        <div class="well text-center">
                            <audio controls src="{{srvyr.audio}}"></audio>
                        </div>
                    </div>

                    <div class="col-xs-12 question-page">
                        <div class="well text-center">
                            {{getQaQuestions srvyr.control_result}}
                        </div>
                    </div>
                    
                    <div class="col-xs-12 question-page js-question-error">
                        <div class="well text-center">
                            {{displayQuestionsErrors}}
                        </div>
                    </div>

                    <div class='col-xs-12'>
                        <div class='form-group'>
                            <textarea placeholder="Комментарий можно оставить здесь" class="js-comment form-control" id="message" rows="5">
                                {{srvyr.comment}}
                            </textarea>
                        </div>
                        <div class='form-group'>
                            <button type="button" class="pull-right btn btn-info js-save">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            {{> forbidden}}
        {{/if}}
    {{else}}
        {{#if loggingIn}}
            {{> loading}}
        {{else}}
            {{> notLoggedIn}}
        {{/if}}
    {{/if}}
</template>