<template name="questionnaire">
    <div class='row'>
        <div class='col-xs-12'>
            <p>{{shop.title}}</p>
            <p>{{srvyr.srvyr}}</p>
            <p>{{srvyr.day}}</p>
        </div>
        <div class="well col-xs-12 question-page question-page__row">
            <audio controls src="{{srvyr.audio}}"></audio>
            {{getQaQuestions question}}
        </div>
    </div>
    <div class='row'>
        <div class="well col-xs-12 question-page question-page__row">
            <textarea placeholder="Комментарий можно оставить здесь" name="" class="js-comment" id="message" cols="30" rows="10">{{srvyr.comment}}</textarea>
        </div>
    </div>
    <div class='row'>
        <button type="button" class="btn btn-success js-save">Save</button>
    </div>
</template>